#
# Copyright (c) 2021-2024 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/carbynestack/ephemeral.
#
# SPDX-License-Identifier: Apache-2.0
#
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ include "ephemeral.name" . }}-generic
  namespace: {{ .Release.Namespace }}
spec:
  template:
    metadata:
      annotations:
      {{- if .Values.ephemeral.service.annotations }}
{{ .Values.ephemeral.service.annotations | toYaml | trim | indent 10 }}
      {{- end}}
        autoscaling.knative.dev/minScale: "{{ .Values.ephemeral.minScale }}"
    spec:
      timeoutSeconds: {{ .Values.ephemeral.knative.activation.timeoutSeconds }}
      {{- if .Values.ephemeral.image.pullSecrets }}
      imagePullSecrets:
        {{- range .Values.ephemeral.image.pullSecrets }}
        - name: {{ . }}
        {{- end}}
      {{- end}}
      containerConcurrency: 1
      containers:
        - name: "{{ .Chart.Name }}-ephemeral"
          image: "{{ .Values.ephemeral.image.registry }}/{{ .Values.ephemeral.image.repository }}:{{ .Values.ephemeral.image.tag }}"
          imagePullPolicy: {{ .Values.ephemeral.image.pullPolicy }}
          ports:
            - name: http1
              containerPort: 8080
            - name: tcp
              containerPort: 5000
          env:
            - name: EPHEMERAL_PROGRAM_IDENTIFIER
              value: {{ .Values.ephemeral.programIdentifier }}
            - name: EPHEMERAL_OPA_POLICY_PACKAGE
              value: {{ .Values.ephemeral.opa.policyPackage }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: tls-secret-volume
              mountPath: /etc/tls
              readOnly: true
          {{- if or .Values.ephemeral.resources.requests.memory .Values.ephemeral.resources.requests.cpu .Values.ephemeral.resources.limits.memory .Values.ephemeral.resources.limits.cpu }}
          resources:
            {{- if or .Values.ephemeral.resources.requests.memory .Values.ephemeral.resources.requests.cpu }}
            requests:
              {{- if .Values.ephemeral.resources.requests.memory }}
              memory: "{{ .Values.ephemeral.resources.requests.memory }}"
              {{- end}}
              {{- if .Values.ephemeral.resources.requests.cpu }}
              cpu: "{{ .Values.ephemeral.resources.requests.cpu }}"
              {{- end}}
            {{- end}}
            {{- if or .Values.ephemeral.resources.limits.memory .Values.ephemeral.resources.limits.cpu }}
            limits:
              {{- if .Values.ephemeral.resources.limits.memory }}
              memory: "{{ .Values.ephemeral.resources.limits.memory }}"
              {{- end}}
              {{- if .Values.ephemeral.resources.limits.cpu }}
              cpu: "{{ .Values.ephemeral.resources.limits.cpu }}"
              {{- end}}
            {{- end}}
          {{- end}}
      volumes:
        - name: config-volume
          configMap:
            name: {{ include "ephemeral.fullname" . }}-config1
        - name: tls-secret-volume
          secret:
            secretName: {{ .Values.ephemeral.tls.secret }}
      serviceAccountName: knative-serving
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ephemeral.fullname" . }}-config1
data:
  config.json: |-
    {
      "authUserIdField": "{{ .Values.ephemeral.authUserIdField }}",
      "retrySleep": "50ms",
      "networkEstablishTimeout": "{{ .Values.ephemeral.networkEstablishTimeout }}",
      "prime": "{{ .Values.ephemeral.spdz.prime }}",
      "rInv": "{{ .Values.ephemeral.spdz.rInv }}",
      "gfpMacKey": "{{ .Values.ephemeral.spdz.gfpMacKey }}",
      "gf2nMacKey": "{{ .Values.ephemeral.spdz.gf2nMacKey }}",
      "gf2nBitLength": {{ .Values.ephemeral.spdz.gf2nBitLength }},
      "gf2nStorageSize": {{ .Values.ephemeral.spdz.gf2nStorageSize }},
      "prepFolder": "{{ .Values.ephemeral.spdz.prepFolder }}",
      "opaConfig": {
        "endpoint": "{{ .Values.ephemeral.opa.endpoint }}"
      },
      "amphoraConfig": {
        "host": "{{ .Values.ephemeral.amphora.host }}",
        "scheme": "{{ .Values.ephemeral.amphora.scheme }}",
        "path": "{{ .Values.ephemeral.amphora.path }}"
      },
      "castorConfig": {
        "host": "{{ .Values.ephemeral.castor.host }}",
        "scheme": "{{ .Values.ephemeral.castor.scheme }}",
        "path": "{{ .Values.ephemeral.castor.path }}",
        "tupleStock": {{ .Values.ephemeral.castor.tupleStock }}
      },
      "frontendURL": "{{ .Values.ephemeral.frontendUrl }}",
      "tlsEnabled": {{ .Values.ephemeral.tls.enabled }},
      "discoveryConfig": {
        "host": "{{ .Values.ephemeral.discovery.host }}",
        "port": "{{ .Values.ephemeral.discovery.port }}",
        "connectTimeout": "{{ .Values.ephemeral.discovery.connectTimeout }}"
      },
      "playerID": {{ .Values.ephemeral.playerId }},
      "playerCount": {{ .Values.playerCount }},
      "stateTimeout": "{{ .Values.ephemeral.player.stateTimeout }}",
      "computationTimeout": "{{ .Values.ephemeral.player.computationTimeout }}"
    }
