#
# Copyright (c) 2021 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/carbynestack/ephemeral.
#
# SPDX-License-Identifier: Apache-2.0
#

# This file defines the default values for all variables used in the Ephemeral Helm Chart.
playerCount: 2

discovery:
  service:
    annotations: []
  image:
    registry: ghcr.io
    repository: carbynestack/ephemeral/discovery
    tag: latest
    pullPolicy: "IfNotPresent"
    pullSecrets: []
  frontendUrl:
  isMaster: true
  master:
    host:
    port:

ephemeral:
  service:
    annotations: []
  image:
    registry: ghcr.io
    repository: carbynestack/ephemeral/ephemeral
    tag: latest
    pullPolicy: "IfNotPresent"
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory:
      cpu:
  minScale: 1
  amphora:
    host: "amphora"
    scheme: "http"
    path: "/"
  frontendUrl:
  discoveryAddress: discovery.default.svc.cluster.local
  playerId:
  spdz:
    prime:
    rInv:

networkController:
  image:
    registry: ghcr.io
    repository: carbynestack/ephemeral/network-controller
    tag: latest
    pullPolicy: "IfNotPresent"
    pullSecrets: []