#
# Copyright (c) 2021-2024 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/carbynestack/ephemeral.
#
# SPDX-License-Identifier: Apache-2.0
#

# This file defines the default values for all variables used in the Ephemeral Helm Chart.
playerCount: 2

discovery:
  service:
    annotations: []
  image:
    registry: ghcr.io
    repository: carbynestack/ephemeral/discovery
    tag: latest
    pullPolicy: "IfNotPresent"
    pullSecrets: []
  frontendUrl:
  isMaster: true
  master:
    host:
    port:
  stateTimeout : "60s"
  computationTimeout : "600s"
  slave:
    connectTimeout: "60s"

ephemeral:
  service:
    annotations: []
  knative:
    activation:
      timeoutSeconds: 3600
  image:
    registry: ghcr.io
    repository: carbynestack/ephemeral/ephemeral
    tag: latest
    pullPolicy: "IfNotPresent"
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory:
      cpu:
  minScale: 1
  programIdentifier: "ephemeral-generic"
  opa:
    endpoint: "http://opa.default.svc.cluster.local:8081/"
    policyPackage: "carbynestack.def"
  amphora:
    host: "amphora"
    scheme: "http"
    path: "/"
  castor:
    host: "castor"
    scheme: "http"
    path: "/"
    tupleStock: 1000
  frontendUrl:
  discovery:
    host: discovery.default.svc.cluster.local
    port: 8080
    connectTimeout: "60s"
  playerId:
  networkEstablishTimeout: "1m"
  spdz:
    prime:
    rInv:
    gfpMacKey:
    gf2nMacKey:
    gf2nBitLength:
    gf2nStorageSize:
    prepFolder: "Player-Data"
  player:
    stateTimeout: "60s"
    computationTimeout: "600s"

networkController:
  image:
    registry: ghcr.io
    repository: carbynestack/ephemeral/network-controller
    tag: latest
    pullPolicy: "IfNotPresent"
    pullSecrets: []
