#
# Copyright (c) 2021 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/carbynestack/ephemeral.
#
# SPDX-License-Identifier: Apache-2.0
#

# Adds @lombok.Generated annotations to generated code to exclude when calculating coverage
lombok.addLombokGeneratedAnnotation = true