<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021 - for information on the respective copyright owner
  ~ see the NOTICE file and/or the repository https://github.com/carbynestack/ephemeral.
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
